source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.5.2

group Test
    source https://api.nuget.org/v3/index.json
    nuget xunit
    nuget xunit.runner.console
    nuget Microsoft.NET.Test.Sdk