source https://api.nuget.org/v3/index.json

nuget FSharp.Core 4.7.2

group Test
    source https://api.nuget.org/v3/index.json
    nuget xunit
    nuget xunit.runner.visualstudio
    nuget coverlet.collector
    nuget Microsoft.NET.Test.Sdk
    nuget Microsoft.NETCore.App