source https://api.nuget.org/v3/index.json

nuget FSharp.Core 4.7.2

# These lines are used by Paket to get the latest version of the Type Provider SDK files
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Test
    source https://api.nuget.org/v3/index.json

    nuget Microsoft.NET.Test.Sdk
    nuget Microsoft.NETCore.App
    nuget NUnit
    nuget NUnit.Console
    nuget NUnit3TestAdapter version_in_path: true
